/* IMPOSTAZIONI GENERALI */
.grey{
    background-color: rgb(240, 240, 240);
}

span{
    color: rgb(249, 2, 229);
    font-weight: bold;
}

.greybox{
    background-color: rgb(217, 217, 217);
    border: 0.1px solid black;
    width: 20px;
    border-radius: 10px;
    height: 10px;
}
    

body {
    max-width: 450px;
    margin: 0 auto;
    background-image: url(/assets/img/sfondo.png);
    background-repeat: repeat;
    font-family: 'Poppins';
    font-size: 22px;

}
/* HEADER */

header {
    width: 430px;
    height: 300px;
    margin: 20px;
    background: linear-gradient(0deg, rgb(18, 70, 94) 0%, rgba(45,207,253,1) 100%);
    box-shadow: 1px 5px 10px 0.1px
}

#logo {
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

h1 {
    margin-top: 0;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;

}

nav ol {
    margin-top: 30px;
    list-style: none;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

nav ol li {
    padding: 3px;
}

/* MAIN */

main {
    width: 410px;
    height: 2750px;
    margin: 20px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    box-shadow: 1px 5px 10px 0.1px
}

/* ELEMENTI NEL MAIN - ARTICLE */

h3 {
    font-weight: bold;
    font-size: 40px;
    padding: 5;
    margin-bottom: 20px;
}

div p {
    display: inline;
    color: gray;
}

p {
    margin-top: 20px;
    line-height: 30px;
}

ul li {
    list-style-type: disc;
    margin-left: 30px;
    line-height: 30px;
}

#list3 {
    list-style-type: numbered;
    margin-left: 30px;
    line-height: 30px;
}


/* TABELLE */
caption {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

th {
    width: 145px;
    height: 40px;
    background-color: rgba(2, 58, 242, 0.714);
    border: 0.2px solid white;
    color: white;
    font-size: 15px;
    padding-top: 15px
    
}

td {
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    border-bottom: 1.5px solid rgb(192, 192, 192);
    height: 40px;
    padding-top: 20px;
}

.blulink{
    color: rgb(0, 162, 255);
    text-decoration: underline;
    font-weight: bold;
}

video {
    border-radius: 20px;
    width: 400px;
    margin-bottom: 30px;
}
/* FORM */

.box {
    width: 400px;
    height: 240px;
    background-color: #c5c5c5dd;
}

h4 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    font-weight: bold;
}

div.box p {
    color: black;
    font-size: 20px;
    text-align: center;
}

form{
    text-align: center;
    padding: 20px;

}

input[type="submit"] {
    height: 30px;
    width: 80px;
    color: white;
    background-color: rgba(2, 58, 242, 0.714);
    border: 0;
}

input[type="email"] {
    color: rgba(210, 210, 210, 0.797);
    height: 30px;
    width: 200px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom-style: dotted;
}
/* ELEMENTI NELL' ASIDE */

.box1 {
    width: 370px;
    height: 100px;
    background-color: #e8e8e8dd;  
    border: 2px solid rgba(181, 181, 181, 0.432);
    font-size: 15px;
    padding-left: 30px;
    margin-top: 10px;
}


/* FOOTER */

footer {
    width: 430px;
    height: 150px;
    margin: 20px;
    background: linear-gradient(0deg, rgb(7, 33, 45) 0%, rgb(1, 92, 92) 100%);
    color: white;
    box-shadow: 1px 5px 10px 0.1px;
}
footer p {
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
}

b {
    margin-left: 230px;
    font-size: 13px;
}
address {
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
}

/* LINK */

a {
    text-decoration: none;
    color: white;
}

